openapi: 3.2.0
info:
  title: Bitbank API
  version: '2026-09-28'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-28: 71 operation(s) read from 4 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; bitbank has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 5
    documentation: 66
    pages-with-code: 3
    pages-read: 4
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-28'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-commands
  - https://docs.github.com/en/rest/authentication/authenticating-to-the-rest-api
  - https://docs.github.com/en/copilot/how-tos/copilot-cli/set-up-copilot-cli/install-copilot-cli
  - https://docs.github.com/en/rest/authentication/permissions-required-for-fine-grained-personal-access-tokens
servers:
- url: https://gh.io
security:
- bearer: []
tags:
- name: Bitbank API
paths:
  /:
    get:
      operationId: get
      tags:
      - Bitbank API
      summary: GET /
      x-source: https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-commands
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl https://example.com\n echo EOF\n } >> \"$GITHUB_ENV\"\n steps: \n - name: Set the value in bash \n id: step_one \n run: |\n {\n echo 'JSON_RESPONSE<<EOF'"
components:
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
