openapi: 3.2.0
info:
  title: bitbank Organizations API
  version: '2026-09-28'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-28: 71 operation(s) read from 4 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; bitbank has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 5
    documentation: 66
    pages-with-code: 3
    pages-read: 4
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-28'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-commands
  - https://docs.github.com/en/rest/authentication/authenticating-to-the-rest-api
  - https://docs.github.com/en/copilot/how-tos/copilot-cli/set-up-copilot-cli/install-copilot-cli
  - https://docs.github.com/en/rest/authentication/permissions-required-for-fine-grained-personal-access-tokens
servers:
- url: https://gh.io
security:
- bearer: []
tags:
- name: Organizations
paths:
  /organizations/{org}/actions/cache/{cacheid}:
    get:
      operationId: get_organizations_org_actions_cache_cacheid
      tags:
      - Organizations
      summary: Permissions required for fine-grained personal access tokens
      x-source: https://docs.github.com/en/rest/authentication/permissions-required-for-fine-grained-personal-access-tokens
      parameters:
      - name: org
        in: path
        required: true
        schema:
          type: string
      - name: cacheid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
        collapsed_from: 2 example path(s) differing only at cacheId
    put:
      operationId: put_organizations_org_actions_cache_cacheid
      tags:
      - Organizations
      summary: Organization permissions for "Administration"
      x-source: https://docs.github.com/en/rest/authentication/permissions-required-for-fine-grained-personal-access-tokens
      parameters:
      - name: org
        in: path
        required: true
        schema:
          type: string
      - name: cacheid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
        collapsed_from: 2 example path(s) differing only at cacheId
  /organizations/{org}/settings/billing/budgets:
    post:
      operationId: post_organizations_org_settings_billing_budgets
      tags:
      - Organizations
      summary: Organization permissions for "Administration"
      x-source: https://docs.github.com/en/rest/authentication/permissions-required-for-fine-grained-personal-access-tokens
      parameters:
      - name: org
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
  /organizations/{org}/settings/billing/budgets/{budgetId}:
    delete:
      operationId: delete_organizations_org_settings_billing_budgets_budgetId
      tags:
      - Organizations
      summary: Organization permissions for "Administration"
      x-source: https://docs.github.com/en/rest/authentication/permissions-required-for-fine-grained-personal-access-tokens
      parameters:
      - name: org
        in: path
        required: true
        schema:
          type: string
      - name: budgetId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
    get:
      operationId: get_organizations_org_settings_billing_budgets_budgetId
      tags:
      - Organizations
      summary: Permissions required for fine-grained personal access tokens
      x-source: https://docs.github.com/en/rest/authentication/permissions-required-for-fine-grained-personal-access-tokens
      parameters:
      - name: org
        in: path
        required: true
        schema:
          type: string
      - name: budgetId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
    patch:
      operationId: patch_organizations_org_settings_billing_budgets_budgetId
      tags:
      - Organizations
      summary: Organization permissions for "Administration"
      x-source: https://docs.github.com/en/rest/authentication/permissions-required-for-fine-grained-personal-access-tokens
      parameters:
      - name: org
        in: path
        required: true
        schema:
          type: string
      - name: budgetId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
  /organizations/{org}/settings/billing/usage/summary:
    get:
      operationId: get_organizations_org_settings_billing_usage_summary
      tags:
      - Organizations
      summary: Get billing usage summary
      x-source: https://docs.github.com/en/rest/authentication/permissions-required-for-fine-grained-personal-access-tokens
      parameters:
      - name: org
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
  /organizations/{org}/settings/billing/{billingid}:
    get:
      operationId: get_organizations_org_settings_billing_billingid
      tags:
      - Organizations
      summary: Permissions required for fine-grained personal access tokens
      x-source: https://docs.github.com/en/rest/authentication/permissions-required-for-fine-grained-personal-access-tokens
      parameters:
      - name: org
        in: path
        required: true
        schema:
          type: string
      - name: billingid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
        collapsed_from: 2 example path(s) differing only at billingId
  /organizations/{org}/settings/billing/{billingid}/usage:
    get:
      operationId: get_organizations_org_settings_billing_billingid_usage
      tags:
      - Organizations
      summary: Permissions required for fine-grained personal access tokens
      x-source: https://docs.github.com/en/rest/authentication/permissions-required-for-fine-grained-personal-access-tokens
      parameters:
      - name: org
        in: path
        required: true
        schema:
          type: string
      - name: billingid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
        collapsed_from: 2 example path(s) differing only at billingId
components:
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
